* {
    box-sizing: border-box;
    margin: 0px;
}

.wrapper {
    width: 600px;

}

.box {
    height: 100px;
}

.pink {
    background-color: pink;
}

.magenta {
    background-color: magenta;

}

.blue {
    background-color: blue;

}

.green {
    background-color: green;

}

.orange {
    background-color: orange;

}